[Unit]
Description=ll
After=network.target

[Service]
Type=simple
User=_ll
Group=_ll
EnvironmentFile=/etc/ll.conf
ExecStart=/usr/local/bin/ll					\
			    -decay-time $LL_DECAY_TIME 		\
			    -decay-uses $LL_DECAY_USES	       	\
			    -log-urls=${LL_LOG_URLS}		\
			    -endpoint $LL_ENDPOINT		\
			    -link-prefix $LL_LINK_PREFIX	\
			    -accept-schema $LL_ACCEPT_SCHEMA	\
			    -dump-file $LL_DUMP_FILE		\
			    -short-bytes $LL_SHORT_BYTES
Restart=on-failure
RestartSec=5s
PrivateTmp=true
NoNewPrivileges=true
ProtectSystem=strict
RestrictNamespaces=uts ipc pid user cgroup mnt
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectControlGroups=yes
PrivateDevices=yes
RestrictSUIDSGID=true
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_DAC_READ_SEARCH
MemoryDenyWriteExecute=true
ReadWritePaths=-/var/lib/ll

[Install]
WantedBy=multi-user.target